/**** GENERAL SECTION ****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* I put the 1rem=16px to 1rem=10px */

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  color: #111;
}

main {
  background-color: #e6f7f9;
}

section {
  max-width: 100rem;
  margin: 0 auto;
  padding: 6rem 4rem;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 500;
}

.grid-4cols {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, auto));
  align-items: center;
  gap: 2rem;
}

.grid-2cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 4rem;
}

.heading-primary {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1rem;

  grid-column: 1/-1;
}

.heading-secondary {
  margin-top: 3rem;
  grid-column: 1/-1;
}

.heading-tertiary {
  grid-column: -1/1;
  text-align: center;
  margin: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.heading-quaternary {
  margin: 1rem 0;
  font: 1.2rem;
  font-weight: 400;
}

.subheading {
  color: #04adbf;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;

  grid-column: 1/-1;
}

.form {
  display: flex;
  flex-direction: column;

  border: 1px solid #04adbf;
  border-radius: 0.4rem;

  margin: 0 4rem;
  background-color: #fff;

  padding: 8rem 4rem;
}

.form .heading-secondary {
  margin: 0 0 3rem 0;
  text-align: center;
}

.form input,
textarea {
  padding: 0.8rem;
  border: 1px solid rgba(124, 124, 124, 0.4);
  border-radius: 4px;
  margin: 0.7rem 0;
}

.form input:hover,
textarea:hover {
  border: 1px solid #04adbf;
}

/**** LINKS ****/
.btn-cta:link,
.btn-cta:visited,
.btn-submit {
  text-decoration: none;
  background-color: #4fc6d2;
  color: #111;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 1rem 2rem;
  border-radius: 4px;

  transition: all 0.3s ease;
}

.btn-cta:hover,
.btn-cta:active {
  background-color: #038a99;
  color: #e6f7f9;
}

.btn-secondary:link,
.btn-secondary:visited {
  text-decoration: none;
  color: #124145;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;

  grid-column: 2;
  margin: 1.5rem;
}

.btn-secondary:hover,
.btn-secondary:hover {
  text-decoration: underline;
}

.navigation-link:link,
.navigation-link:visited,
.way-to-shoppingcart:link,
.way-to-shoppingcart:visited {
  text-decoration: none;
  color: #111;
  font-size: 1.4rem;
  padding: 1rem;
  transition: color 0.3s;
}

.navigation-link:hover,
.navigation-link:active,
.way-to-shoppingcart:hover,
.way-to-shoppingcart:active {
  color: #e6f7f9;
}

.navigation-link.current {
  text-decoration: underline;
}

.footer a:link,
.footer a:visited {
  color: #000;
  text-decoration: none;
}

.footer a:active,
.footer a:hover {
  color: #fff;
}

/* Header/ Navigation */

.header-container {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  align-items: center;

  background-color: #1db5c5;
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
}

.header-logo {
  max-width: 10rem;
  margin: 2rem 4rem;
}

.header-navigation {
  position: relative;
  background-color: #1db5c5;
}

.hamburger-icon {
  font-size: 1.6rem;
  padding: 1rem;
}

.navigation,
#mobile-menu {
  display: none;
}

#mobile-menu:checked ~ .navigation {
  display: block;
}

.navigation {
  position: absolute;
  background-color: #1db5c5;
  top: 5rem;
  right: -2rem;
  z-index: 900;
}

.navigation a {
  display: block;
  color: #111;
  text-decoration: none;
}

.header-container:last-child {
  padding-right: 4rem;
}
