.images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0;
}

.image-01 {
  grid-column: 1/-1;
}

.text-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  justify-content: center;
}
.text-container h1 {
  font-size: 2rem;
  margin: 0;
}

.jacket-description-list,
.jacket-description,
.size,
.price {
  grid-column: 1/-1;
}

.back-icon {
  color: #038a99;
  font-size: 2rem;
  margin-right: 1rem;
}

.back-link {
  text-decoration: none;
  color: #111;
}
.jacket-description {
  margin-bottom: 3rem;
}

.jacket-description-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
}
.size {
  display: flex;
  gap: 1rem;
}

/* Radio button redesign */
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="radio"] {
  font-size: 2rem;
  width: 3.4rem;
  height: 3rem;
  border: 1px solid #038a99;
}

input[type="radio"]:checked {
  background-color: #04adbf;
}

.size-box {
  position: relative;
}

.jacket-size {
  text-transform: uppercase;
  color: #111;
  position: absolute;
  font-size: 1.5rem;
  top: 0.5rem;
  left: 0.8rem;
}
.price {
  font-size: 2rem;
  font-weight: 500;
  color: #033f46;
}

.extra-info {
  display: flex;
  justify-content: space-around;

  opacity: 0.5;
}
.extra-info i {
  padding-right: 1rem;
  font-size: 2rem;
}
