@media (max-width: 800px) {
  .section-hero {
    background-position-y: center;
    background-position-x: center;
  }
}

@media (min-width: 700px) {
  .navigation {
    display: inline-block;
    position: static;
  }
  .hamburger-icon {
    display: none;
  }
  .navigation a {
    display: inline-block;
  }

  .header-navigation {
    margin: 0;
  }

  .header-container {
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  /* Hero section */

  .hero-text-box {
    max-height: 100vh;
    max-width: 100%;
    top: 0;
    left: 0;
  }
  .hero-subheading {
    font-size: 1.2rem;
  }
  .hero-text-box h1 {
    font-size: 2.4rem;
  }

  /* Products section */
  .products-container {
    grid-template-columns: 1fr;
  }

  .product,
  .btn-products {
    margin: 2rem;
  }

  /* Footer */
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .footer-container h3 {
    text-align: center;
  }
}
