/* about page */
.about-gallery {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5rem;
}

.about-img {
  overflow: hidden;
}
.about-gallery img:hover {
  transform: scale(1.2);
}
.about-text p {
  margin-bottom: 4rem;
}

.section-about h2 {
  margin-bottom: 1rem;
}

/* contact page */
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  text-align: center;
}

.contact-info i {
  color: #04adbf;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* jacets.html  */
.section-jackets a {
  text-decoration: none;
  color: #111;
}

.jacket {
  background-color: #e6f7f9;
  box-shadow: 0 1rem 2rem 0 rgba(3, 138, 153, 0.3);
  border-radius: 4px;
}

.jacket-text {
  padding: 1rem;
}

.jacket h3 {
  text-align: left;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.jacket-nr {
  font-size: 1rem;
  opacity: 0.6;
  margin-bottom: 1rem;
}

.jacket .price {
  font-size: 1.6rem;
  font-weight: 600;
}

.price.price-sale {
  color: #a31717;
}

.jacket:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 0.3rem 0.9rem 0 rgba(3, 138, 153, 0.8);
}

.jacket {
  animation: show-jackets 1.5s forwards;
  opacity: 0;
}

@keyframes show-jackets {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* jacket-specific.html */
/* img-box */

.images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0;
}

.image-01 {
  grid-column: 1/-1;
}

/* text */
.back-icon {
  color: #038a99;
  font-size: 2rem;
  margin-right: 1rem;
}

.back-link {
  grid-column: 1/-1;
  text-decoration: none;
  color: #111;
  margin-bottom: 0.5rem;
}

.text-container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.text-container h1 {
  font-size: 2rem;
}

.price {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: #033f46;
  margin-bottom: 2rem;
}

.jacket-description-list,
.jacket-description,
.size,
.price {
  grid-column: 1/-1;
}

.jacket-description-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

.jacket-description {
  margin-bottom: 3rem;
}

.size {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

/* Radio button redesign */
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="radio"] {
  font-size: 2rem;
  width: 3.4rem;
  height: 2.5rem;
  border: 1px solid #038a99;
}

input[type="radio"]:checked {
  background-color: #4fc6d2;
}

.size-box {
  position: relative;
}

.jacket-size {
  text-transform: uppercase;
  color: #111;
  position: absolute;
  font-size: 1.5rem;
  top: 0.3rem;
  left: 0.8rem;
}

.extra-info {
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;

  opacity: 0.5;
}

.extra-info i {
  padding-right: 1rem;
  font-size: 2rem;
}

/**** cart.html ****/

.cart-specifics {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 2rem;
}

input[type="date"] {
  grid-column: 1;
}

input[id="cvc"] {
  max-width: 7rem;
}

label[for="cvc"] {
  grid-row: 1;
  grid-column: 2/3;
}

.price-details {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 0.5rem;
  align-items: baseline;
  margin: 2rem 0;
}

.line::before {
  content: "";
  background-color: #111;
  display: block;
  max-width: 100%;
  height: 1px;
  opacity: 0.3;
}

.cart-products {
  border: 1px solid #038a99;
  border-radius: 4px;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr auto auto;
  gap: 3rem;
  align-items: center;
}

.btn-submit {
  text-align: center;
}

/* checout-success.html */

.section-success h1 {
  margin: 3rem 0;
  color: #033f46;
  font-size: 3.2rem;
  grid-column: 1/-1;
}

.section-success h2 {
  margin-bottom: 2rem;
}

.delivery,
.order {
  margin-bottom: 3rem;
}
