/* about page */
.img-flex {
  display: flex;
  max-width: 50%;
  gap: 0.5rem;
}

/* contact page */
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  text-align: center;
}

.contact-info i {
  color: #04adbf;
  font-size: 2rem;
  margin-bottom: 1rem;
}
/* jacets.html  */
.jacket {
  background-color: #e6f7f9;
  box-shadow: 0 1rem 2rem 0 rgba(3, 138, 153, 0.3);
  border-radius: 4px;

  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
}

.jacket-img,
.jacket h2 {
  justify-content: center;
}

.jacket .heading-tertiary {
  text-align: left;
  font-size: 1.4rem;
}

/* jacket-specific.html */
.jacket-img,
.price {
  grid-column: 1/-1;
}

.jacket-container img {
  max-height: 30rem;
  object-fit: cover;
}

.jacket h2 {
  font-size: 1.6rem;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}
.price {
  color: #025b64;
  font-weight: 500;
  font-size: 1.6rem;
  padding-left: 1rem;
}

.btn-jackets {
  grid-column: 2/-1;
  margin: 3rem 1rem 1rem;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0;
}

.image-01 {
  grid-column: 1/-1;
}

.text-container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  justify-content: center;
}
.text-container h1 {
  font-size: 2rem;
  margin: 0;
}

.jacket-description-list,
.jacket-description,
.size,
.price {
  grid-column: 1/-1;
}

.back-icon {
  color: #038a99;
  font-size: 2rem;
  margin-right: 1rem;
}

.back-link {
  text-decoration: none;
  color: #111;
}
.jacket-description {
  margin-bottom: 3rem;
}

.jacket-description-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
}
.size {
  display: flex;
  gap: 1rem;
}

/* Radio button redesign */
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="radio"] {
  font-size: 2rem;
  width: 3.4rem;
  height: 3rem;
  border: 1px solid #038a99;
}

input[type="radio"]:checked {
  background-color: #04adbf;
}

.size-box {
  position: relative;
}

.jacket-size {
  text-transform: uppercase;
  color: #111;
  position: absolute;
  font-size: 1.5rem;
  top: 0.5rem;
  left: 0.8rem;
}

.price {
  font-size: 2rem;
  font-weight: 500;
  color: #033f46;
}

.extra-info {
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;

  opacity: 0.5;
}

.extra-info i {
  padding-right: 1rem;
  font-size: 2rem;
}

/**** cart.html ****/

.cart-specifics {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 2rem;
}

input[type="date"] {
  grid-column: 1;
}

input[id="cvc"] {
  max-width: 7rem;
}

label[for="cvc"] {
  grid-row: 1;
  grid-column: 2/3;
}
.price-details {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  row-gap: 0.5rem;
  align-items: baseline;
  margin: 2rem 0;
}
.line::before {
  content: "";
  background-color: #111;
  display: block;
  max-width: 100%;
  height: 1px;
  opacity: 0.3;
}

.cart-products {
  border: 1px solid #038a99;
  border-radius: 4px;
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  gap: 3rem;
  align-items: center;
}
